body{

	background-color: #cccccc;
}
header{
	background-color: white;
	padding-right:1%;
	padding-left:1%; 
	min-height: 100px;
}
main{

	padding-right:1%;
	padding-left:1%; 

}
footer{
	color:#808080;
}


header h1{
	margin-bottom: 1%; 
}
header h5{
	margin-top: 1%;
}

td a.social-link{
	text-decoration: none;
	color:#808080;
}
.external-box.outside{
	max-width: 1000px;
}
.external-box{
	max-width: 96%;
	margin-left: auto;
	margin-right: auto;
	/*align-content: center;
	border:dashed;
	border-color: red;*/
}
.all-sides{
	margin-top: 15px;
	margin-bottom: 15px;
}
.row{

}
.col-1{
	width: 8.33%;
	display: inline-block;
}
.col-2{
	width: 16.67%;
	display: inline-block;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33%;
	display: inline-block;
}
.col-6{
	width: 50%;
	display: inline-block;
}
.col-8{
	width: 66%;
	display: inline-block;
}
.col-12{
	width: 100%;
	display: inline-block;
}
.gallery-two-rows{
	max-height: 250px;
	overflow: hidden;
	display: inline-block;
}
.gallery-two-rows.gallery1{
	max-width: 586px;
	padding-right: 4px;
}
.gallery-two-rows.gallery2{
	max-width: 374px;
}
.top-gallery2-row{
	margin-top: 0px;
	margin-bottom: 5px;
}
.bottom-gallery2-row{
	margin-top: 5px;
	margin-bottom: 0px;
}
.img-responsive{
	/*min-width: 8.33%;*/
	max-width: 100%;

	/*max-height: 100%;*/
	/*border:dashed;
	border-color: red;*/
}
.table-format{
	display: table;
}


.table-data-format{
	display: table-cell;
}
.table-data-format.gallery-img{
	padding: 0px 1px;
	max-height: 120px;
	max-width: 120px;
	overflow: hidden;
}
.link-to-more{
	color:#e65c00;
	text-decoration: none;

}

.slide-img{
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.social-button{
	display: inline-grid;
	background-color: #595959;
	border-color:transparent;
	border-radius: 50px;
	font-size: 1.5625em;
}
.social-button > i{
	color: white;
}
.title{
	font-family: 'Old Standard TT', serif;
	font-size: 1.125em;
	/*margin-top: -2px;*/
	float: left;
	min-width: 180px;
}
.subtitle{
	font-family:  serif;
	font-size: 0.8125em;

}
.social-paragraph{
	font-size: 0.83em; 
}

#info .row{
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}

#slide{
	position: relative;
	max-height: 400px;
	overflow: hidden;
}
#slide-selector{
	position: absolute;
    top: 0px;
    right: 0px;
}
#slide-caption{
	padding: 0px 10px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	background-color: rgba(0, 0, 0, .75);
	color: white;
}
#sign-button{
	color:#e65c00;
}
#social-block{
	background-color: white;
	padding-right:1%;
	padding-left:1%; 
}
#social-block .external-box .all-sides{
	padding-bottom:5% ;
}
#social-block .link-to-more{
	float: right;
}
#social-block h4{
	clear:both;
	margin-bottom: 1px;
}
#social-block h5{
	margin-top: 1px;
}

#copyright-text{
	padding: 20px 0px 20px 50px;
}

.menu-nav{
	float: right;
	width: 66%;
	display: inline-block;
	margin-top: 2%;
	margin-right: 1%;;
	margin-bottom: 2%;

}

nav{

	background-color: black;
	color: white;
	margin: 5;
	border-radius: 10px;
	float:right;
	padding: 2%;
	text-transform: uppercase;
	font-family: 'Glegoo', serif;
	font-size: 0.89em;
}
nav > ul{

	padding: 0px;
	margin: 0px;
	list-style-type: none;
	
}
nav > ul > li{
	padding: 2px 6px 3px 6px;
	display: inline;
}
nav > ul > li > a {
	text-decoration: none;
	
}
nav > ul > li > a:visited{
	color: inherit;
}


nav > ul > li > a:hover {
	color: #cccccc;
}

.menu-button{
	text-decoration: none;
	text-align: center;
	display: none;
	cursor: pointer; 
}
a.menu-button:visited{
	color:inherit;
}
a.menu-button:hover{
	color: #cccccc;
}


@media only screen and (max-width: 804px){
	.menu-nav{
		width: 100px;
		margin-top: 8%;
		position: relative;
	}
	nav{
		width: 100px;
		position: absolute;
		z-index: 1;
	}
	nav > ul > li{
		display: block;
		text-align: center;
	}
	nav > ul {
		display: none;
	}
	.menu-button{
		display:block;
	}
}

@media only screen and (max-width: 625px){
	#slide-caption{
		display: none;
	}
}

@media only screen and (max-width: 705px){
	
	#info .row{
		display: block;
	}
	#info .col-4{
		width:100%;		
		display: block;
	}
	#info .col-4 img{
		display: block;
		width:50%;
		margin: auto;
	}
}