body{
	background-color: #cccccc;
}
header{
	background-color: white;
	min-height: 100px;
}

header,
main{
	padding: 0 1%;
}

footer{
	color:#4F4F4F;
}


header h1{
	margin-bottom: 1%; 
}

header h5{
	margin-top: 1%;
}



.external-box.outside{/*like container*/
	max-width: 1000px;
}
.external-box{
	max-width: 96%;
	margin-left: auto;
	margin-right: auto;
}
.all-sides{
	margin-top: 15px;
	margin-bottom: 15px;
}
.row{
	/*???*/
}

.col-1{/* width: calc(1/12 * 100%);*/
	width: 8.33%;
	display: inline-block;
}
.col-2{/* width: calc(2/12 * 100%);*/
	width: 16.67%;
	display: inline-block;
}
.col-3{/* width: calc(3/12 * 100%);*/
	width: 25%;

}
.col-4{/* width: calc(4/12 * 100%);*/
	width: 33%;
	display: inline-block;
}
.col-6{/* width: calc(6/12 * 100%);*/
	width: 50%;
	display: inline-block;
}
.col-8{/* width: calc(8/12 * 100%);*/
	width: 66%;
	display: inline-block;
}
.col-10{/* width: calc(10/12 * 100%);*/
	width: 83.33%;
	display: inline-block;
}
.col-12{/* width: calc(12/12 * 100%);*/
	width: 100%;
	display: inline-block;
}

.img-responsive{
	max-width: 100%;
}
.link-to-more{
	color:#BD4B00;
	text-decoration: none;

}
#info .link-to-more{
	color:#8F3900;
}
.link-to-more-div{
	display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;

}

/*HEADER STUFF*/
/*---------------------------*/
.title{

	font-size: 1.125em;
	/*margin-top: -2px;*/
	float: left;
	min-width: 180px;
}
.subtitle{

	font-size: 0.8125em;

}
.menu-nav{
	float: right;
	width: 66%;
	display: inline-block;
	margin-top: 2%;
	margin-right: 1%;
	margin-bottom: 2%;


}
nav{
	background-color: black;
	color: white;
	margin: 5px;
	border-radius: 10px;
	float:right;
	padding: 2%;
	text-transform: uppercase;
	font-family: 'Glegoo', serif;
	font-size: 0.89em;
}
#options-list,
#options-button-list{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	
}

.option-item,
.option-item-button{
	padding: 2px 6px 3px 6px;
	display: inline;
}

a.option-link {
	color: white;
	text-decoration: none;
	
}


#options-button-list{
	background-color: black;
	display: none;
	position: absolute;
	right: 0;
	width: 100px;
}
.option-item-button{
	display: block;
	text-align: center;
}
.menu-button-list{
	display: none;
	position: relative;
}
.menu-button-div{
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}
.menu-button{
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
	width: 30px;
	/*text-decoration: none;
	cursor: pointer; */
}

a.option-link:visited,
.menu-button:visited{
	color: inherit;
}

.menu-button:hover,
a.option-link:hover{
	color: #cccccc;
}
/*---------------------------*/

/*SLIDE - CARRUSEL STUFF*/
/*---------------------------*/
.slide-img{
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#slide{
	position: relative; /*to be able to put radio buttons and caption on top*/
	max-height: 400px;
	overflow: hidden;
}
#slide-selector{
	position: absolute;
    top: 0px;
    right: 0px;
}
.slide-caption{
	padding: 0px 10px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	background-color: rgba(0, 0, 0, .75);
	color: white;
}
.carrusel{
	display: none;
}
.carrusel.show{
	display: block;
}
/*---------------------------*/


/*INFO STUFF*/
/*---------------------------*/
#info .row{
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}
/*---------------------------*/


/*GALLERY STUFF*/
/*---------------------------*/
.gallery-two-rows{
	max-height: 250px;
	overflow: hidden;
	display: inline-block;
}
.gallery-two-rows.gallery1{
	max-width: 586px;
	padding-right: 4px;
}
.gallery-two-rows.gallery2{
	max-width: 374px;
}
.top-gallery2-row{
	margin-top: 0px;
	margin-bottom: 5px;
}
.bottom-gallery2-row{
	margin-top: 5px;
	margin-bottom: 0px;
}
/*---------------------------*/

/*SOCIAL BLOCK STUFF*/
/*---------------------------*/
.table-format{
	display: table;
}


.table-data-format{
	display: table-cell;
}
.table-data-format.gallery-img{
	padding: 0px 1px;
	max-height: 120px;
	max-width: 120px;
	overflow: hidden;
}
.social-button{
	display: inline-grid;
	background-color: #595959;
	border-color:transparent;
	border-radius: 50px;
	font-size: 1.5625em;
	cursor: pointer; 
}
.social-button > i{
	color: white;
}
.social-link{
	text-decoration: none;
	color:#707070;
	cursor: pointer; 

}

.social-paragraph{
	font-size: 0.83em; 
}

#sign-button{
	color:#8F3900;
}
#social-block{
	background-color: white;
	padding-right:1%;
	padding-left:1%; 
}
#social-block .external-box .all-sides{
	padding-bottom:5% ;
}
#social-block h3{
	font-style: italic; 
}
#social-block h4{
	clear:both;
	margin-bottom: 1px;
}
#social-block h5{
	margin-top: 1px;
}
/*---------------------------*/


/*FOOTER STUFF*/
/*---------------------------*/
#copyright-text{
	padding: 0 2% 2px;
}
/*---------------------------*/




@media only screen and (max-width: 1035px){

	.gallery-two-rows.gallery1{
		width:100%;
		max-width: 1035px;
	}
	.img-gallery1{
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.gallery-two-rows.gallery2{
		display: -webkit-flex;
		display:         flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;

		width: 100%;
		max-width: 1035px;

	}	
	.top-gallery2-row{
		margin-bottom: 0;
	}
	.bottom-gallery2-row{
		margin-top: 0;
	}

}


@media only screen and (max-width: 820px){
	.menu-nav{
		width: 25px;
		min-height: 25px;
		margin: 38px 20px;
		position: relative;
	}
	nav{
		width: 27px;
		position: absolute;
		z-index: 1;
		margin: 0;
		padding: 0;
		border-radius: 0;
	}
	.menu-bar-list{
		display: none;
	}
	.menu-button-list{
		display: block;
	}
}

@media only screen and (max-width: 705px){
	
	#info .row{
		display: block;
	}
	#info .col-4 {
		width:100%;		
		display: block;
	}

	#info .col-4 img{
		display: block;
		width:50%;
		margin: auto;
	}
	#social-block .col-4{
		width:100%;		
		display: block;
	}
}
@media only screen and (max-width: 625px){
	.slide-caption{
		display: none;
	}
}

